backend/TotvsCoin.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://totvscoins.mycompany.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://totvscoins.mycompany.com/" name="TotvsCoin">
<types>
<xsd:schema>
<xsd:import namespace="http://totvscoins.mycompany.com/" schemaLocation="http://localhost:8080/TotvsCoin/TotvsCoin?xsd=1"/>
</xsd:schema>
</types>
<message name="getSaldoIntegrante">
<part name="parameters" element="tns:getSaldoIntegrante"/>
</message>
<message name="getSaldoIntegranteResponse">
<part name="parameters" element="tns:getSaldoIntegranteResponse"/>
</message>
<message name="getListaProdutoGeral">
<part name="parameters" element="tns:getListaProdutoGeral"/>
</message>
<message name="getListaProdutoGeralResponse">
<part name="parameters" element="tns:getListaProdutoGeralResponse"/>
</message>
<message name="getIntegrante">
<part name="parameters" element="tns:getIntegrante"/>
</message>
<message name="getIntegranteResponse">
<part name="parameters" element="tns:getIntegranteResponse"/>
</message>
<message name="setResgate">
<part name="parameters" element="tns:setResgate"/>
</message>
<message name="setResgateResponse">
<part name="parameters" element="tns:setResgateResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="TotvsCoin">
<operation name="getSaldoIntegrante">
<input wsam:Action="http://totvscoins.mycompany.com/TotvsCoin/getSaldoIntegranteRequest" message="tns:getSaldoIntegrante"/>
<output wsam:Action="http://totvscoins.mycompany.com/TotvsCoin/getSaldoIntegranteResponse" message="tns:getSaldoIntegranteResponse"/>
</operation>
<operation name="getListaProdutoGeral">
<input wsam:Action="http://totvscoins.mycompany.com/TotvsCoin/getListaProdutoGeralRequest" message="tns:getListaProdutoGeral"/>
<output wsam:Action="http://totvscoins.mycompany.com/TotvsCoin/getListaProdutoGeralResponse" message="tns:getListaProdutoGeralResponse"/>
</operation>
<operation name="getIntegrante">
<input wsam:Action="http://totvscoins.mycompany.com/TotvsCoin/getIntegranteRequest" message="tns:getIntegrante"/>
<output wsam:Action="http://totvscoins.mycompany.com/TotvsCoin/getIntegranteResponse" message="tns:getIntegranteResponse"/>
</operation>
<operation name="setResgate">
<input wsam:Action="http://totvscoins.mycompany.com/TotvsCoin/setResgateRequest" message="tns:setResgate"/>
<output wsam:Action="http://totvscoins.mycompany.com/TotvsCoin/setResgateResponse" message="tns:setResgateResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://totvscoins.mycompany.com/TotvsCoin/helloRequest" message="tns:hello"/>
<output wsam:Action="http://totvscoins.mycompany.com/TotvsCoin/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="TotvsCoinPortBinding" type="tns:TotvsCoin">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getSaldoIntegrante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListaProdutoGeral">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getIntegrante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setResgate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TotvsCoin">
<port name="TotvsCoinPort" binding="tns:TotvsCoinPortBinding">
<soap:address location="http://localhost:8080/TotvsCoin/TotvsCoin"/>
</port>
</service>
</definitions>